<section data-ng-controller="HomeController">
  <div class="text-center">

    <div class="landing">

      <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Banner -->
        <section id="banner">
          <div class="inner">
            <h2 id="title-header">Travel and Mem</h2>
            <p>Your personal, complete itinerary planner.<br/><br/>

            </p>
            <ul class="actions">
              <li><a ui-sref="planner.view" class="button special">Create a new trip</a></li>
            </ul>
          </div>
        </section>

      </div>

    </div>

  <br>Have a Safe Trip!
  <br>From your friends here at TravelPlanner, Inc.
  </div>
</section>
