.event-container{
  height: 420px;
}

.event-container #city-event-map{
  height: 73.81%;
}

#city-event-map iframe{
  width: 100%;
  height: 100%;
}

.event-container #city-event{
  overflow: auto;
  height: inherit;
}
