<div style="background-color: #454545; width: 100%; margin: 0 auto; min-height: 100%; padding: 10px;">
<div class="row marketing tile-container no-margin">
   <div class="col-md-4 no-padding">
     <div class="activity-tile activity-tile-text">
       <p style="font-size: 36px;">Create New Plan</p>
     </div>
   </div>
   <div class="col-md-4 no-padding">
      <a ui-sref="flights.create" class="activity-tile" id="flights-tile">
         <h1 class="vertical-center">+ New Flight</h1>
      </a>
   </div>

   <div class="col-md-4 no-padding">
      <a ui-sref="articles.hotels" class="activity-tile" id="hotels-tile">
         <h1 class="vertical-center">+ New Hotel</h1>
      </a>
   </div>

</div>
<div class="row marketing tile-container no-margin">
   <div class="col-md-4 no-padding">
      <a ui-sref="planner.events" class="activity-tile" id="events-tile">
         <h1 class="vertical-center">+ New Event</h1>
      </a>
   </div>

   <div class="col-md-4 no-padding">
      <a ui-sref="articles.rentals" class="activity-tile" id="rentals-tile">
         <h1 class="vertical-center">+ New Rental</h1>
      </a>
   </div>

   <div class="col-md-4 no-padding">
      <a ui-sref="articles.other" class="activity-tile" id="other-tile">
         <h1 class="vertical-center">+ Other</h1>
      </a>
   </div>
</div>
</div>
