<div style="background-color: blue; width: 100%; margin: 0 auto; min-height: 100%;">
<div class="row marketing tile-container">

   <div class="col-md-3 shift-left">
      <a ui-sref="articles.flights" class="activity-tile shift-right-down" id="flights-tile">
         <h1 class="vertical-center">+ New Flight</h1>
      </a>
   </div>

   <div class="col-md-3 shift-right">
      <a ui-sref="articles.hotels" class="activity-tile shift-right-down" id="hotels-tile">
         <h1 class="vertical-center">+ New Hotel</h1>
      </a>
   </div>

</div>
<div class="row marketing tile-container">
   <div class="col-md-3 shift-event-right">
      <a ui-sref="planner.events" class="activity-tile" id="events-tile">
         <h1 class="vertical-center">+ New Event</h1>
      </a>
   </div>
</div>

<div class="row marketing tile-container">
   <div class="col-md-3 shift-left">
      <a ui-sref="articles.rentals" class="activity-tile shift-right-down" id="rentals-tile">
         <h1 class="vertical-center">+ New Rental</h1>
      </a>
   </div>

   <div class="col-md-3 shift-right">
      <a ui-sref="articles.other" class="activity-tile shift-right-down" id="other-tile">
         <h1 class="vertical-center">+ Other</h1>
      </a>
   </div>
</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88114900-1', 'auto');
  ga('send', 'pageview');

</script>
