.jumbotron h1 {
  text-align: center;
  font-size: 90px;
}

.container-fluid a{
  font-size: 40px;
}

#header-buttons {
  padding-top: 30px;
}

#home-button {
  padding-top: 10px;
}

body {
  padding-top: 50px;
}

.body-panels {
  border-color: black;
}

#plan-creator {
  display: block;
  min-height: 80px;
  width: auto;
  font-size: 50px;
  text-align: center;
  background-color: #c2f0b1;
  text-decoration-color: white;
}
