<section data-ng-controller="PlannerController">

<div class="dashboard-page-body">
  <div class="jumbotron dashboard-page-header">
    <div>
       <h1>Plans</h1>
    </div>
  </div>
  <div class="plans-bar">
   <h4>Active (count)</h5>
  </div>
  <div class="body-panels">
   <div class="row dashboard-row">
     <div class="col-md-2 create-plan-button">
        <a ui-sref="planner.newplan">
          Create New Plan
        </a>
      </div>
    </div>
  </div>
  <div class="plans-bar">
   <h4>Old Plans (count)</h4>
  </div>
</div>
</section>
